@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-.5rem);
  }

  80% {
    transform: translateX(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// NAV ANIMATIONS - CSS TRANSITIONS
.nav-enter {
  opacity: 0;
  transform: scale(.8);
}
.nav-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.nav-exit {
  opacity: 1;
}
.nav-exit-active {
  opacity: 0;
  transform: scale(.8);
  transition: opacity 300ms, transform 300ms;
}

// BLOG ANIMATIONS - CSS TRANSITIONS

// BLOG PREVIEW
.blog-enter {
  opacity: 0;
  transform: translateX(5rem);
}
.blog-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300s, transform 300s;
}
.blog-exit {
  opacity: 1;
  transform: translateX(0);
}
.blog-exit-active {
  opacity: 0;
  transform: translateX(-5rem);
  transition: opacity 300ms, transform 300ms;
}

// BLOG MAIN
.blogm-enter {
  opacity: 0;
  transform: translateX(-5rem);
}
.blogm-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300s, transform 300s;
}
.blogm-exit {
  opacity: 1;
  transform: translateX(0);
}
.blogm-exit-active {
  opacity: 0;
  transform: translateX(5rem);
  transition: opacity 300ms, transform 300ms;
}