// COLOR GREY SHADES
$color-grey-light: #DDDDDD;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// COLOR GREEN SHADES
$color-teal-light-1: #9FD8CB;
$color-teal-light-2: #D6E5E3;

// COLOR RED SHADES
$color-red-light-1: #FE5F55;

// COLOR PURPLE SHADES
$color-purple-light-1: #CACFD6;
$color-purple-dark-1: #91818A;

// FONTS
$font-primary: 'Brawler';
$font-secondary: 'Antic Slab';
