// COLOR GREY SHADES
$color-grey-light: #DDDDDD;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// COLOR GREEN SHADES
$color-teal-light-1: #9FD8CB;
$color-teal-light-2: #D6E5E3;

$color-green-dark-1: #2D3319;

// COLOR PURPLE SHADES
$color-purple-light-1: #CACFD6;


// FONTS
$font-primary: 'Brawler';
$font-secondary: 'Antic Slab';
