.blog-main {
//   @include testWireFrame;
  // height: fit-content;
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Brawler";
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    display: inline-block;
  }

  &__code {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
}
