.blog-preview {
    // @include testWireFrame;
    padding: 5.5rem;
    height: 75vh;
    width: 75%;
    display: flex;
    flex: 3;

    &__container {
        flex: 0 0 100%;
        height: fit-content;
    }

    &__title {
        font-family: 'Brawler';
        font-size: 3rem;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;

        &--date {
            font-size: 1.5rem;
            margin-left: 2rem;
            color: $color-grey-dark-2;
        }
    }

    &__description {
        font-family: 'Antic Slab';
        font-size: 1.5rem;
        color: $color-grey-dark-3;
        letter-spacing: 2px;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;

        &--right-arrow {
            font-size: 3rem;
            transition: all 1s;
            width: 50%;
            margin-top: 1rem;

            &:hover {
                // animation: moveInLeft 1.2s ease-out;
                cursor: pointer;
            }
        }
    }
}

