.blog-main {
//   @include testWireFrame;
  height: fit-content;

  &__title {
    font-family: "Brawler";
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
}
