.header {
  height: 22rem;
  @include testWireFrame;
  padding: 1.5rem;
  display: flex;

  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    align-self: flex-end;
    margin-left: 5rem;
    letter-spacing: 1rem;

    @include respond(tab-land) {
      align-self: auto;
      margin-left: 0;
    }
  }

  &__sub-header {
    display: flex;
    height: fit-content;
    margin-bottom: 3rem;
    flex-direction: column;
    align-self: flex-end;

    @include respond(tab-land) {
      align-self: auto;
    }

    &--admin {
      font-size: 1.2rem;
      align-self: flex-end;
      margin-bottom: 1.2rem;
    }

    &--subtitle {
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        color: $color-grey-dark-1;
        font-style: italic; 
      }

    &--sign-out {
        color: rgba($color-grey-dark-3, .75);
        cursor: pointer;
        transition: color .3s;

        &:hover {
            color: $color-red-light-1;
        }
    }
  }
}
