.navigation {
  height: 22rem;
  @include testWireFrame;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 6rem;
  justify-content: center;

  &__title {
    display: table;
    letter-spacing: 1rem;
    font-size: 3.5rem;
    margin-top: 0.6rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    text-align: center;
    margin-left: 2.5rem;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 6.5rem;
      height: 6px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1.5rem;
    }
    &::after {
      top: 1.5rem;
    }
  }

  // NAVIGATION LIST
  // TODO: SELECT THIS WITH JAVASCRIPT THEN SHOW DISPLAY
  &__list {
    @include testWireFrame;
    text-align: right;
    line-height: 13rem;
    font-size: 2.5rem;
    font-weight: 500;

    &__ul {
      list-style: none;
      transform: translateX(-6rem);
      // visibility: hidden;
      // opacity: 0;
    
      &--item-1 {
        animation: moveInLeft 1s ease-out;  
      }
      &--item-2 {
        animation: moveInLeft 1s ease-out 0.1s;
      }
      &--item-3 {
        animation: moveInLeft 1s ease-out 0.2s;
      }
      &--item-4 {
        animation: moveInLeft 1s ease-out 0.3s;
      }
    }

  }



  &__button:hover &__icon::before {
    top: -2rem;
  }

  &__button:hover &__icon::after {
    top: 2rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
