.home {
    height: 100vh;
    // background-color: #eee;
    // border: 2px solid purple ;
    display: flex;
    flex-direction: row;
    font-family: 'Kreon';
    font-weight: bolder;
    // font-size: 5rem;

    @include respond(tab-land) {
        flex-direction: column;
    }

    &__section {
        width: 25%;
        

        &--1 {
            flex: 1;
            background-color: $color-grey-light;
        }
        &--2 {
            flex: 3;
            
        }
        &--3 {
            display: flex; 
            overflow: hidden;

            @include respond(tab-land) {
                flex-direction: column; 
                min-height: 75vh;   
            }
        }
    }
}